<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBv5WnPfe5q5myH8dTmnmd9ZjbY_jKTnfo</string>
	<key>GCM_SENDER_ID</key>
	<string>796066483917</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myFlutterApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>my-flutter-app-d5021</string>
	<key>STORAGE_BUCKET</key>
	<string>my-flutter-app-d5021.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:796066483917:ios:469a4ef83e9883127c2384</string>
</dict>
</plist>